<f:layout name="Default" />
<f:section name="subnavigation">
	<f:if condition="{businessUser.uid}">
		<f:then>
			<f:link.action action="cityIndex" arguments="{city:businessUser.uid}"><f:translate key="subnavigation.start" /></f:link.action>
		</f:then>
		<f:else>
			<f:link.action action="cityIndex" arguments="{city:businessUser}"><f:translate key="subnavigation.start" /></f:link.action>
		</f:else>
	</f:if>
</f:section>
<f:section name="left">
	<div class="box-steps">
		2/2
	</div>
</f:section>
<f:section name="main">
	<div class="csc-default box-blue">
		<div id="assignColumns">
			<div class="sortingColumns left">
				<h3><f:translate key="assign.customerColumns" /></h3>
				<ul id="source" class="connected">
					<f:for each="{tableData}" as="tableDataItem" iteration="iterator">
						<li class="value" data-column="{iterator.index}" data-example="{tableDataItem.firstItem}" id="col-{iterator.index}">
							{tableDataItem.name}<br />
							<em><f:translate key="assign.example" /> {tableDataItem.firstItem}</em>
						</li>
					</f:for>
				</ul>
			</div>
			<div class="sortingColumns right">
				<h3><f:translate key="assign.easyvoteColumns" /></h3>
				<ul id="target-salutation" class="target connected">
					<li id="salutation" class="category static ui-state-default">
						<f:translate key="assign.salutation" />
						<div class="sortable-placeholder static"><f:translate key="assign.dropHere" /></div>
					</li>
				</ul>
				<ul id="target-name" class="target connected">
					<li id="name" class="category static ui-state-default line-top">
						<f:translate key="assign.firstNameLastName" />
						<div class="sortable-placeholder static"><f:translate key="assign.dropHere" /></div>
					</li>
				</ul>
				<ul id="target-address" class="target connected">
					<li id="address" class="category static ui-state-default line-top">
						<f:translate key="assign.streetNumber" />.
						<div class="sortable-placeholder static"><f:translate key="assign.dropHere" /></div>
					</li>
				</ul>
				<ul id="target-city" class="target connected">
					<li id="city" class="category static ui-state-default line-top">
						<f:translate key="assign.zipCity" />
						<div class="sortable-placeholder static"><f:translate key="assign.dropHere" /></div>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
			<div class="spacer"></div>
			<f:form id="columnAssignment" action="approve" onsubmit="return validateForm();" >
				<f:form.hidden name="dataset" value="{dataset}" />
				<f:if condition="{businessUser.uid}">
					<f:then>
						<f:form.hidden name="city" value="{businessUser.uid}" />
					</f:then>
					<f:else>
						<f:form.hidden name="city" value="{businessUser}" />
					</f:else>
				</f:if>
				<input class="validate" type="hidden" data-label="Anrede" id="columns-salutation" name="tx_easyvoteimporter_datamanager[columns-salutation]" value="" />
				<input class="validate" type="hidden" data-label="Vorname, Nachname" id="columns-name" name="tx_easyvoteimporter_datamanager[columns-name]" value="" />
				<input class="validate" type="hidden" data-label="Strasse, Nr." id="columns-address" name="tx_easyvoteimporter_datamanager[columns-address]" value="" />
				<input class="validate" type="hidden" data-label="PLZ, Ort" id="columns-city" name="tx_easyvoteimporter_datamanager[columns-city]" value="" />
				<button type="submit" class="buttonBottomRight"><i class="icon-ok-sign"></i> <f:translate key="assign.confirmAssignment" /></button>
			</f:form>

		</div>
	</div>
	<script>
		var errorTextBegin = "{f:translate(key:'assign.errorTextBegin')}";
		var errorTextEnd = "{f:translate(key:'assign.errorTextEnd')}";

		<![CDATA[
		$(function() {
			$("#source, .target").sortable({
				connectWith: ".connected",
				cancel: ".static",
				stop: function(event, ui) {
					reflectChange(event);
					$('.sortable-placeholder').hide();
				},
				start: function(evento, ui) {
					$('.sortable-placeholder').fadeIn();
				}
			}).disableSelection();
			$('#source, .target').bind('sortstart', function(event, ui) {
				$('.sortable-placeholder').text('Hier ablegen.');
			});

		});

		function reflectChange(event) {
			$('.target').each(function() {
				// example: target-name
				targetId = $(this).attr('id');
				// example: name
				targetType = targetId.split('-')[1];

				// the container for the preview
				$('span#preview-' + targetType).empty();
				// empty the input field containing the column IDs
				$('input#columns-' + targetType).val('');
				$('li.value', this).each(function() {
					// write example data to the corresponding container
					exampleData = $(this).attr('data-example');
					column = $(this).attr('data-column');
					$('span#preview-' + targetType).append(exampleData + '&nbsp;');
					$('input#columns-' + targetType).val($('input#columns-' + targetType).val() + column + ',');
				});

			});
		}

		function validateForm() {
			var errorMessages = '';
			$('input.validate', 'form#columnAssignment').each(function() {
				if (!$(this).val()) {
					errorMessages += errorTextBegin + ' "'+ $(this).attr('data-label') + '" ' + errorTextEnd + '\n';
				}
			});
			if (errorMessages) {
				alert(errorMessages);
				return false;
			}
		}
		]]>
	</script>
</f:section>
<f:section name="right">
	<div class="csc-default box-pink">
		<h2><f:translate key="assign.previewHeader" /></h2>
		<p class="preview">
			<span id="preview-salutation"></span><br />
			<span id="preview-name"></span><br />
			<span id="preview-address"></span><br />
			<span id="preview-city"></span>
		</p>
	</div>
	<div class="csc-default box-lightblue">
		<h2><f:translate key="assign.assignmentHelpHeader" /></h2>
		<f:translate key="assign.assignmentHelpContent" />
		<f:form id="deleteDocument" action="remove">
			<f:form.hidden name="dataset" value="{dataset}" />
			<button type="submit"><i class="icon-upload-alt"></i> <f:translate key="assign.newAddressList" /></button>
		</f:form>
	</div>
</f:section>