{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default" />
<f:section name="subnavigation">
	<li>
		<f:link.action action="editBusinessUser" arguments="{businessUser:businessUser}"><f:translate key="editBusinessUser" /></f:link.action>
	</li>
	<f:security.ifHasRole role="{settings.adminFeUserGroup}">
		<li>
			<f:link.action action="adminIndex">Admin-Startseite</f:link.action>
		</li>
	</f:security.ifHasRole>
</f:section>
<f:section name="left">
	<f:render partial="DataManager/Icon" arguments="{icon: 'produktion'}" />
	<f:render partial="DataManager/UserOverview" arguments="{businessUser:businessUser}" />
</f:section>
<f:section name="main">
	<div class="csc-default box-blue">
		<h2><f:translate key="cityIndex.header" /></h2>
		<p><f:translate key="cityIndex.introduction" /></p>
	</div>
	<f:for each="{votingDays}" as="votingDay" iteration="iterator">
		<div class="csc-default box-blue">
			<h3><f:translate key="cityIndex.votingDateOf" /> <f:format.date date="{votingDay.votingDate}" format="d.m.Y" /></h3>
			<f:if condition="{v:var.get(name: 'datasets.{iterator.index}.uid')}">
				<f:then>
					<f:if condition="{v:var.get(name: 'datasets.{iterator.index}.file')}">
						<f:then>
							<p><f:translate key="cityIndex.dataUploadedBegin" /> <f:format.date date="@{v:var.get(name: 'datasets.{iterator.index}.crdate')}" format="d.m.Y" /> <f:translate key="cityIndex.dataUploadedEnd" /><br />
							<em><f:translate key="cityIndex.fileName" /> {v:var.get(name: 'datasets.{iterator.index}.file')}</em></p>
							<f:if condition="{v:var.get(name: 'datasets.{iterator.index}.columnConfiguration')}">
								<f:else>
									<p><strong><f:translate key="cityIndex.assignmentMissing" /></strong></p>
									<f:form noCacheHash="true" name="assign" arguments="{city: businessUser.uid, dataset: '{v:var.get(name: \'datasets.{iterator.index}\')}'}" action="assign">
										<f:form.submit class="btn btn-primary" value="{f:translate(key:'cityIndex.assignColumns')}" />
									</f:form>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<f:translate key="cityIndex.dataProcessedBegin" /> <f:format.date date="@{v:var.get(name: 'datasets.{iterator.index}.crdate')}" format="d.m.Y" /> <f:translate key="cityIndex.dataProcessedEnd" />
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<p><f:translate key="cityIndex.uploadRequest" /></p>
					<f:form noCacheHash="true" action="uploadList">
						<f:form.hidden name="city" value="{businessUser.uid}" />
						<f:form.submit class="btn btn-primary" value="{f:translate(key:'cityIndex.uploadButton')}" name="votingDay[{votingDay.uid}]" />
					</f:form>
				</f:else>
			</f:if>
		</div>
	</f:for>
</f:section>
<f:section name="right">
	<div class="csc-default box-blue">
		<h2><f:translate key="cityIndex.deadlineHeader" /></h2>
		<p><f:translate key="cityIndex.deadlineContent" arguments="{1: '{f:format.date(date: \'@{settings.uploadDueDate}\', format: \'d.m.Y\')}'}" /></p>
	</div>
	<div class="csc-default box-blue">
		<h2><f:translate key="cityIndex.manualHeader" /></h2>
		<p><f:translate key="cityIndex.manualContent" /></p>
	</div>
</f:section>
