{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default" />
<f:section name="left">
	<f:render partial="DataManager/UserOverview" arguments="{businessUser:businessUser}" />
</f:section>
<f:section name="main">
	<div class="csc-default c-infobox-statisch">
		<h2>Herzlich willkommen</h2>
		<p>Hier wird ein bedeutungsvoller Text eingefügt werden.</p>
	</div>
	<f:for each="{votingDays}" as="votingDay" iteration="iterator">
		<div class="csc-default c-infobox-statisch">
			<h3>Abstimmung vom <f:format.date date="{votingDay.votingDate}" format="d.m.Y" /></h3>
			<f:if condition="{v:var.get(name: 'datasets.{iterator.index}.uid')}">
				<f:then>
					<f:if condition="{v:var.get(name: 'datasets.{iterator.index}.file')}">
						<f:then>
							Vielen Dank. Wir haben Ihre Adressliste zu dieser Abstimmung am <f:format.date date="@{v:var.get(name: 'datasets.{iterator.index}.crdate')}" format="d.m.Y" /> erhalten.<br><em>Dateiname: {v:var.get(name: 'datasets.{iterator.index}.file')}</em>
							<f:if condition="{v:var.get(name: 'datasets.{iterator.index}.columnConfiguration')}">
								<f:then></f:then>
								<f:else>
									<br />
									<em>Die Spaltenzuordnung fehlt.</em>
									<f:form name="assign" arguments="{city: businessUser.uid, dataset: '{v:var.get(name: \'datasets.{iterator.index}\')}'}" action="assign">
										<f:form.submit value="Spalten zuordnen" />
									</f:form>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							Daten wurden am <f:format.date date="@{v:var.get(name: 'datasets.{iterator.index}.crdate')}" format="d.m.Y" /> hochgeladen, verarbeitet und wieder vom System gelöscht.
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<p>Wir benötigen von Ihnen eine Excel-Liste mit den Empfängern der easyvote-Broschüre.</p>
					<f:form action="uploadList">
						<f:form.hidden name="city" value="{businessUser.uid}" />
						<f:form.submit value="Adressliste hochladen" name="votingDay[{votingDay.uid}]" />
					</f:form>
				</f:else>
			</f:if>
		</div>
	</f:for>
</f:section>
<f:section name="right">
	<div class="csc-default box-blue">
		<f:form action="editBusinessUser" arguments="{businessUser:businessUser}">
			<button type="submit"><i class="icon-edit-sign"></i> Kontaktdaten</button>
		</f:form>
		<f:security.ifHasRole role="{settings.adminFeUserGroup}">
			<f:form action="adminIndex">
				<button type="submit"><i class="icon-home"></i> Admin-Startseite</button>
			</f:form>
		</f:security.ifHasRole>
	</div>
</f:section>
