{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default" />
<f:section name="left">
	<div class="csc-default box-pink">
		Blacklist
	</div>
</f:section>
<f:section name="main">
	<div class="csc-default box-blue">
		<h2>Blacklist-Eintrag bearbeiten</h2>
		<f:form class="inputForm" action="updateBlacklist" name="blacklist" object="{blacklist}">
			<f:render partial="DataManager/BlacklistFormFields" arguments="{blacklist:blacklist}" />
		</f:form>
	</div>
</f:section>
<f:section name="right">
	<f:render partial="DataManager/AdminFunctions" />
</f:section>