{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default" />
<f:section name="subnavigation">
	<li>
		<f:if condition="{businessUser.uid}">
			<f:then>
				<f:link.action action="cityIndex" arguments="{city:businessUser.uid}"><f:translate key="subnavigation.start" /></f:link.action>
			</f:then>
			<f:else>
				<f:link.action action="cityIndex" arguments="{city:businessUser}"><f:translate key="subnavigation.start" /></f:link.action>
			</f:else>
		</f:if>
	</li>
</f:section>
<f:section name="left">
	<f:render partial="DataManager/Icon" arguments="{icon: 'produktion'}" />
</f:section>
<f:section name="main">
	<div class="csc-default box-blue">
		<h2><f:translate key="editBusinessUser.header" /></h2>
		<f:form class="inputForm" action="updateBusinessUser" name="businessUser" object="{businessUser}">
			<f:render partial="DataManager/BusinessUserFormFields" arguments="{businessUser:businessUser}" />
		</f:form>
	</div>
</f:section>
<f:section name="right">
	<div class="csc-default box-blue">
		<h2><f:translate key="editBusinessUser.hintHeader" /></h2>
		<p><f:translate key="editBusinessUser.hintContent" /></p>
	</div>
</f:section>