{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default" />
<f:section name="subnavigation">
	<f:render partial="DataManager/AdminFunctions" />
</f:section>
<f:section name="left">
	<div class="csc-default box-pink">
		<h2>Robinsonliste</h2>
	</div>
</f:section>
<f:section name="main">

	<div class="content-box">
		<h2>Alle Einträge der Robinsonliste</h2>
		<div class="table-responsive clearfix">
			<table class="useDatatables">
				<thead>
					<tr>
						<th>Vorname</th>
						<th>Name</th>
						<th>Adresse</th>
						<th>PLZ</th>
						<th>Grund</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				<f:for each="{blacklist}" as="item">
					<tr>
						<td>{item.firstName}</td>
						<td>{item.lastName}</td>
						<td>{item.street}</td>
						<td>{item.zipCode}</td>
						<td>
                            <f:if condition="{item.reason}">
                                <f:translate key="blacklist.reasonShort.{item.reason}" />
                            </f:if>
						</td>
						<td style="text-align: right">
							<f:link.action action="editBlacklist" arguments="{blacklist:item}"><i class="evicon-pencil-squared icon-2x"></i></f:link.action>
							<f:link.action action="deleteBlacklist" arguments="{blacklist:item}"><i class="evicon-cancel-circled icon-2x"></i></f:link.action>
						</td>
					</tr>
				</f:for>
				</tbody>
			</table>
		</div>
		<f:form noCacheHash="true" action="newBlacklist">
			<button class="btn btn-primary" type="submit"><i class="evicon-plus-circled"></i> Neuer Eintrag</button>
		</f:form>
	</div>
</f:section>
<f:section name="right">
</f:section>