{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default" />
<f:section name="left">
	<div class="csc-default box-pink">
		Export
	</div>
</f:section>
<f:section name="main">

	<div class="csc-default box-blue">
		<h2>Aktive Abstimmungstage</h2>
		<table class="eviTable">
			<thead>
				<tr>
					<th>Datum</th>
					<th>Gemeinden bereit</th>
					<th>Gemeinden total</th>
					<th>Importierte Adressen</th>
					<th>Auf Blacklist</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<f:for each="{exportInformation}" as="item">
				<tr>
					<td><f:format.date date="{item.votingDay.votingDate}" format="d.m.Y" /></td>
					<td>{item.datasetCount}</td>
					<td>{item.businessUserCount}</td>
					<td>{item.importedAddresses}</td>
					<td>{item.blacklistCount}</td>
					<td style="text-align: right; width: 90px;">
						<f:link.action action="applyBlacklist" title="Blacklist anwenden" arguments="{votingDay:item.votingDay}"><i class="icon-male icon-2x"></i></f:link.action>
						<f:if condition="{item.datasetCount} == {item.businessUserCount}">
							<f:then>
								<f:link.action target="_blank" action="performExport" title="Liste exportieren" arguments="{votingDay:item.votingDay}"><i class="icon-download-alt icon-2x"></i></f:link.action>
								<f:link.action action="reportExport" title="Prognose" arguments="{votingDay:item.votingDay}"><i class="icon-list-alt icon-2x"></i></f:link.action>
								<f:link.action action="removeExport" title="Alle Daten löschen" onclick="return confirm('Sicher?');" arguments="{votingDay:item.votingDay}"><i class="icon-remove-sign icon-2x"></i></f:link.action>
							</f:then>
							<f:else>
								<f:link.action action="reportExport" title="Prognose" arguments="{votingDay:item.votingDay}"><i class="icon-list-alt icon-2x"></i></f:link.action>
								<i title="Download nicht möglich, da nicht alle Gemeinden bereit sein." class="icon-download-alt icon-2x color-grey"></i>
							</f:else>
						</f:if>
					</td>
				</tr>
			</f:for>
			</tbody>
		</table>
	</div>
</f:section>
<f:section name="right">
	<f:render partial="DataManager/AdminFunctions" />
</f:section>