{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default" />
<f:section name="subnavigation">
	<f:render partial="DataManager/AdminFunctions" />
</f:section>
<f:section name="left">
	<div class="csc-default box-pink">
		<h2>Blacklist</h2>
	</div>
</f:section>
<f:section name="main">

	<div class="csc-default box-blue">
		<h2>Alle Einträge der Blacklist</h2>
		<table class="eviTable useDatatables">
			<thead>
				<tr>
					<th>Vorname</th>
					<th>Name</th>
					<th>Adresse</th>
					<th>PLZ</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<f:for each="{blacklist}" as="item">
				<tr>
					<td>{item.firstName}</td>
					<td>{item.lastName}</td>
					<td>{item.street}</td>
					<td>{item.zipCode}</td>
					<td style="text-align: right">
						<f:link.action action="editBlacklist" arguments="{blacklist:item}"><i class="evicon-pencil-squared icon-2x"></i></f:link.action>
						<f:link.action action="deleteBlacklist" arguments="{blacklist:item}"><i class="evicon-cancel-circled icon-2x"></i></f:link.action>
					</td>
				</tr>
			</f:for>
			</tbody>
		</table>
		<div class="clear"></div>
		<f:form noCacheHash="true" action="newBlacklist">
			<button class="btn btn-primary" type="submit"><i class="evicon-plus-circled"></i> Blacklist</button>
		</f:form>
	</div>
</f:section>
<f:section name="right">
</f:section>