{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default" />
<f:section name="subnavigation">
	<f:render partial="DataManager/AdminFunctions" />
</f:section>
<f:section name="left">
	<div class="csc-default box-pink">
		<h2>Robinsonliste</h2>
	</div>
</f:section>
<f:section name="main">
	<div class="csc-default box-blue">
		<h2>Adresse zur Robinsonliste hinzufügen</h2>
		<f:form noCacheHash="true" class="inputForm" action="createBlacklist" name="newBlacklist" object="{newBlacklist}">
			<f:render partial="DataManager/BlacklistFormFields" />
		</f:form>
	</div>
</f:section>
<f:section name="right">
</f:section>