<f:layout name="Default" />
<f:section name="left">
	<div class="csc-default box-pink">
		Schritt 1/3
	</div>
	<div class="csc-default box-lightblue">
		<h2>Wie erstelle ich eine Adressliste?</h2>
		<p>Das geht ungefähr so...</p>
	</div>
</f:section>
<f:section name="main">
	<div class="csc-default box-blue">
		<h2>Adressliste {businessUser.name} für <f:format.date date="{votingDay.votingDate}" format="d.m.Y" /></h2>
		<p>Bitte drücken Sie auf den untenstehenden Button und wählen Sie die gewünschte Datei aus.</p>
		<p>Wenn die erste Zeile Ihrer Adressliste keine Spaltentitel (Name, Vorname, Adresse etc.) enthält, deaktivieren Sie die Option "Erste Zeile enthält Spaltentitel".</p>
		<p>Klicken Sie auf "weiter", sobald Sie die Datei ausgewählt haben.</p>
		<f:form action="performUpload" enctype="multipart/form-data">
			<f:form.hidden name="city" value="{businessUser.uid}"/>
			<f:form.hidden name="votingDay" value="{votingDay.uid}"/>
			<f:form.upload name="easyvoteData"/>
			<p>
				<f:form.checkbox name="firstLineContainsLabels" id="firstLineContainsLabels" value="1" checked="checked"/>
				<label for="firstLineContainsLabels">Erste Zeile enthält Spaltentitel</label><br />
			</p>
			<f:form.submit class="buttonBottomRight" value="weiter"/>
		</f:form>
	</div>

</f:section>
<f:section name="right">
	<div class="csc-default box-dark">
		<a href="#">Muster-Excelliste herunterladen</a>
	</div>
	<div class="csc-default box-dark">
		<a href="#">Video-Anleitung ansehen</a>
	</div>
</f:section>
