<f:layout name="Default" />
<f:section name="left">
	<div class="csc-default box-pink">
		Schritt 1/3
	</div>
	<div class="csc-default box-lightblue">
		<h2>Wie erstelle ich eine Adressliste?</h2>
		<p>
			Laden Sie die Muster-Excelliste herunter und benutzen Sie am besten gleich diese. Wenn sie bereits eine eigene Adressliste erstellt haben, können Sie auch diese verwenden. Ihre Adressliste muss aber die gleichen Informationen erhalten wie die Muster-Excelliste:
		</p>
		<ul>
			<li>Anrede</li>
			<li>Name (Vorname+Name)</li>
			<li>Adresszeile 1</li>
			<li>Adresszeile 2 (wenn vorhanden)</li>
			<li>PLZ und Ort</li>
		</ul>
	</div>
</f:section>
<f:section name="main">
	<div class="csc-default box-blue">
		<h2>Adressliste {businessUser.name} für <f:format.date date="{votingDay.votingDate}" format="d.m.Y" /></h2>
		<p>Bitte drücken Sie auf den untenstehenden Button und wählen Sie die gewünschte Datei aus.</p>
		<p>Wenn die erste Zeile Ihrer Adressliste keine Spaltentitel (Name, Vorname, Adresse etc.) enthält, deaktivieren Sie die Option "Erste Zeile enthält Spaltentitel".</p>
		<p>Klicken Sie auf "weiter", sobald Sie die Datei ausgewählt haben.</p>
		<f:form action="performUpload" enctype="multipart/form-data">
			<f:form.hidden name="city" value="{businessUser.uid}"/>
			<f:form.hidden name="votingDay" value="{votingDay.uid}"/>
			<f:form.upload name="easyvoteData"/>
			<p>
				<f:form.checkbox name="firstLineContainsLabels" id="firstLineContainsLabels" value="1" checked="checked"/>
				<label for="firstLineContainsLabels">Erste Zeile enthält Spaltentitel</label><br />
			</p>
			<button type="submit" class="buttonBottomRight"><i class="icon-chevron-sign-right"></i> Datei hochladen</button>
		</f:form>
	</div>

</f:section>
<f:section name="right">
	<div class="csc-default box-blue">
		<f:form action="cityIndex">
			<f:form.hidden name="city" value="{businessUser.uid}"/>
			<button type="submit"><i class="icon-home"></i> Start</button>
		</f:form>
		<a class="button" href="{f:uri.resource(path: 'Documents/Gemeinde_XX_YY_20ZZ.xls')}"><i class="icon-download-alt"></i> Muster-Excelliste</a>
		<a class="button" href="#"><i class="icon-film"></i> Video-Anleitung</a>
	</div>
</f:section>
