<div class="pull-left login-status">
	<f:security.ifAuthenticated>
		<f:then>
			<f:link.page pageUid="{settings.communityHomePid}">
				<f:if condition="{user.image}">
					<f:then>
						<f:image class="user-image" alt="{user.community}" src="uploads/pics/{user.image}" width="50" height="50c"/>
					</f:then>
					<f:else>
						<div class="user-image-small flag-voting flag-ch"></div>
					</f:else>
				</f:if>
			</f:link.page>
			<f:translate key="businessUser.loggedInAs" />
				<div class="user-name">{user.company}</div>
		</f:then>
	</f:security.ifAuthenticated>
</div>
<div class="pull-right">
	<f:security.ifAuthenticated>
		<f:then>
			<f:link.page class="ui-button muted" pageUid="{settings.siteHomePid}" additionalParams="{logintype:'logout'}">
				<f:translate key="businessUser.logout" />
			</f:link.page>
		</f:then>
		<f:else>
		</f:else>
	</f:security.ifAuthenticated>
</div>