<div class="form-row">
	<f:form.textfield property="firstName" additionalAttributes="{required: required, placeholder:'Vorname'}" />
</div>
<div class="form-row">
	<f:form.textfield property="lastName" additionalAttributes="{required: required, placeholder:'Name'}" />
</div>
<div class="form-row">
	<f:form.textfield property="street" additionalAttributes="{required: required, placeholder:'Strasse (genau!)'}" />
</div>
<div class="form-row">
	<f:form.textfield property="zipCode" additionalAttributes="{required: required, placeholder:'PLZ'}" />
</div>
<div class="form-row">
	<f:form.submit value="speichern" />
</div>