<header class="subheader">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<nav class="navi-2">
				<ul class="navi">
					<f:render section="subnavigation" />
				</ul>
			</nav>
		</div>
	</div>
</header>
<div class="row tx-easyvote-importer">
	<f:security.ifAuthenticated>
		<f:then>
			<f:security.ifHasRole role="{settings.cityFeUserGroup}">
				<f:then>
					<section class="col-md-3">
						<f:render section="left" />
					</section>
					<section class="col-md-6">
						<f:flashMessages renderMode="div" />
						<f:render section="main" />
					</section>
					<section class="col-md-3">
						<f:render section="right" />
					</section>
				</f:then>
				<f:else>
					Keine Berechtigung.
				</f:else>
			</f:security.ifHasRole>
		</f:then>
		<f:else>
			<section class="col-md-3">
			</section>
			<section class="col-md-6">
				<div class="content-box">
					<p>Sie sind nicht angemeldet.</p>
					<f:link.page class="btn btn-primary" pageUid="{settings.loginPid}">Anmelden</f:link.page>
				</div>
			</section>
			<section class="col-md-3">
			</section>
		</f:else>
	</f:security.ifAuthenticated>
	<div class="clearfix"></div>
</div>