<f:layout name="Default" />

<f:section name="main">
<h2>Datenzuweisung</h2>
<p>Ziehen Sie die Spalten der von Ihnen hochgeladenen Tabelle zur zugehörigen Spalte für easyvote-Versand. Es müssen nicht alle Spalten verwendet werden. Sollen zwei Spalten kombiniert werden
(z.B. Vorname und Name oder PLZ und Ort), legen Sie beide Spalten in der korrekten Reihenfolge ab. Das Resultat sehen sie im weissen Fenster rechts.</p>

<div id="assignColumns">
	<div class="sortingColumns">
		<ul id="source" class="connected">
			<li class="static">
				<strong>Spalten der hochgeladenen Tabelle:</strong>
			</li>
			<f:for each="{tableData}" as="tableDataItem" iteration="iterator">
				<li class="ui-state-highlight value" data-column="{iterator.index}" data-example="{tableDataItem.firstItem}" id="col-{iterator.index}">
					{tableDataItem.name}<br />
					<em>Beispiel: {tableDataItem.firstItem}</em>
				</li>
			</f:for>
		</ul>
	</div>
	<div class="sortingColumns">
		<p><strong>Spalten für den easyvote-Versand:</strong></p>
		<ul id="target-name" class="target connected">
			<li id="name" class="category static ui-state-default">Vorname und Name</li>
		</ul>
		<ul id="target-address" class="target connected">
			<li id="address" class="category static ui-state-default">Strasse</li>
		</ul>
		<ul id="target-city" class="target connected">
			<li id="city" class="category static ui-state-default">PLZ und Ort</li>
		</ul>
	</div>
	<div class="sortingColumns">
		<p><strong>Vorschau:</strong></p>
		<p class="preview">
			<span id="preview-name"></span><br />
			<span id="preview-address"></span><br />
			<span id="preview-city"></span>
		</p>

		<f:form id="columnAssignment" action="approve" onsubmit="return validateForm();" >
			<f:form.hidden name="dataset" value="{dataset}" />
			<input class="validate" type="hidden" data-label="Vorname und Name" id="columns-name" name="tx_easyvoteimporter_datauploader[columns-name]" value="" />
			<input class="validate" type="hidden" data-label="Adresse" id="columns-address" name="tx_easyvoteimporter_datauploader[columns-address]" value="" />
			<input class="validate" type="hidden" data-label="PLZ und Ort" id="columns-city" name="tx_easyvoteimporter_datauploader[columns-city]" value="" />
			<f:form.submit value="Zuweisung bestätigen und freigeben" />
		</f:form>
		<br />&nbsp;<br />
		<f:form id="deleteDocument" action="remove">
			<f:form.hidden name="dataset" value="{dataset}" />
			<f:form.submit value="Fehlerhaftes Dokument löschen" />
		</f:form>


	</div>
</div>



<script>
	<![CDATA[
	$(function() {
		$("#source, .target").sortable({
			connectWith: ".connected",
			cancel: ".static",
			stop: function(event, ui) {
				reflectChange(event);
			}
		}).disableSelection();

	});

	function reflectChange(event) {
		$('.target').each(function() {
			// example: target-name
			targetId = $(this).attr('id');
			// example: name
			targetType = targetId.split('-')[1];

			// the container for the preview
			$('span#preview-' + targetType).empty();
			// empty the input field containing the column IDs
			$('input#columns-' + targetType).val('');
			$('li.value', this).each(function() {
				// write example data to the corresponding container
				exampleData = $(this).attr('data-example');
				column = $(this).attr('data-column');
				$('span#preview-' + targetType).append(exampleData + '&nbsp;');
				$('input#columns-' + targetType).val($('input#columns-' + targetType).val() + column + ',');
			});

		});
	}

	function validateForm() {
		var errorMessages = '';
		$('input.validate', 'form#columnAssignment').each(function() {
		if (!$(this).val()) {
				errorMessages += 'Dem Adressfeld "'+ $(this).attr('data-label') + '" muss mindestens eine Spalte zugewiesen sein.\n';
			}
		});
		if (errorMessages) {
			alert(errorMessages);
			return false;
		}
	}
	]]>
</script>

</f:section>