body.datamanager {

	.content {
		margin-top: 0;
	}

	#default-subheader {
		display: none;
	}

	#navi-3 {
		display: none;
	}

	header.subheader {
		margin-bottom: 70px;
	}

	.user-image-small {
		float: left;
		margin-right: 15px;
	}

	table.eviTable {
		border-collapse: collapse;
		border: 0;
		margin: 0 0 20px 0;
		border-spacing: 0;
		font-size: 12px;
	}

	.eviTable th, .eviTable td {
		padding: 5px;
	}

	.tx-easyvote-importer h3 {
		color: @text-blue;
		font-size: 19px;
		margin: 0 0 10px 0;
	}


	.box-pink {
		.rounded-corners();
		margin: 0 0 20px 0;
		background-color: @pink;
		padding: 30px;
		text-align: left;
		color: @white !important;
		text-decoration: none !important;
	}

	.box-pink h2 {
		.font-ubuntu();
		text-transform: uppercase;
		font-weight: 500;
		font-size: 19px;
		color: @white;
	}

	.box-blue {
		.rounded-corners();
		margin: 0 0 20px 0;
		background: @box-background;
		padding: @box-padding;
	}

	.box-steps {
		position: relative;
		height: 0;
		width: 100%;
		padding-bottom: 100%;
		background-color: @pink;
		margin: 0 0 20px 0;
		color: #fff;
		.font-ubuntu();
		font-size: 110px;
		.rounded-corners();
		.inner {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			text-align: center;
			.center {
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
		}
	}

	.typo3-messages {
		background: none;
		padding: 0;
		margin-bottom: 0;
	}
	.typo3-message {
		margin-bottom: 20px;
		padding: 30px;
		.rounded-corners();
	}
	.message-error { background: #ff0021; }
	.message-ok { background: #aaff7a; }
	.message-header { font-weight: bold; }

	div.sortingColumns {
		width: 50%;
		float: left;
		&.left {
			padding-right: 10px;
		}
		&.right {
			padding-left: 10px;
		}
	}
	ul.connected { list-style-type: none; margin: 0; padding: 0; box-sizing: content-box; }
	ul.target { border-bottom: 2px solid @text-blue; margin-bottom: 10px; box-sizing: content-box; }
	ul#source li { cursor: pointer; }
	ul li.static { cursor: not-allowed !important; }
	li.value {
		border: 2px solid #005476;
		padding: 5px;
		color: @text-blue;
		background: #fff;
		font-size: 12px;
		margin-bottom: 10px;
	}
	li.ui-sortable-helper {
		border-color: @pink;
	}
	li.ui-state-default {
		.rounded-corners();
		border: 0;
		padding: 0;
		color: @text-blue;
		font-weight: bold;
		font-size: 12px;
		background: none;
	}
	p.preview { padding: 10px; background: white; min-height: 90px; border: 1px solid #005476; color: #005476; }

	.tx-easyvote-importer form {
		position: relative;
	}

	.buttonBottomRight {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	#assignColumns h3 { height: 50px; }

	div.spacer { height: 50px; }

	.sortable-placeholder {
		display: none;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		border: 0;
		padding: 5px;
		color: @text-blue;
		background: @white;
		font-size: 12px;
	}

	ul.cityStatus { list-style-type: none; margin: 0; padding: 0; }
	ul.cityStatus li { margin: 0; padding: 0; }
	.cityVotingDate { display: inline-block; margin: 0; padding: 0; height: 25px; line-height: 25px; }
	.cityChange { text-align: right; }
	.color-red { color: #ff0021; }
	.color-green { color: #09bf37; }
	.color-grey { color: #c0c0c0; }

	i[class^="icon-"]:hover { text-decoration: none; }

}